input[type=checkbox]{ 
    transform : scale(2.5); 
} 

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}


p {
  font-size: 20px;
}

button.top {
  background-color: #4CAF50; /* Green */
  color: black;
  text-align: center;
  font-size: 16px;
}

button.sub {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
