input[type=checkbox]{ 
    transform : scale(2.5); 
} 

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}


body {
    background-color: #EEEEEE;
    color: #111111;
}

div.header {
    background-color: #95C95C;
}

p {
  font-size: 20px;
}

button.top {
  background-color: #4CAF50; /* Green */
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: Georgia;
  height: 40px;
  width: 130px;
  padding: 0px 0px;
  margin-left: 0.3em;
  margin-bottom: 0.3em;
  border: 4px solid #3B9E4F;
  border-radius: 5px;
  text-shadow:2px 3px 4px #2b665e;
}

button.sub {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
