:root {
    --c1: #95C95C;
    --c2: #9AC09A;
    --c3: #4CAF50;
    --c4: #3B9E4F;

    --dinnerHeight: 60px;
    --labelHeight: 40px;
}


input[type=checkbox]{ 
    transform : scale(2.5); 
} 

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
    /* Checkbox text */
    font-size: 110%;
    display: inline;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33%;
}

body {
    background-color: var(--c2);
    color: #111111;
}

div.header {
    background-color: var(--c1);
    border: 4px solid black;
}

p {
    font-size: 20px;
}

h2 {
    display: inline;
    padding: 0px 100px;
    font-family: FreeMono;
    font-size: 28px;
    text-align: left;
}

.style1 {
    background-color: var(--c3);
    border: 4px solid var(--c4);
    font-size: 16px;
    font-weight: bold;
    font-family: Georgia;
    height: 40px;
    color: black;
    text-align: center;
}

button.top {
    width: 160px;
    padding: 0px 0px;
    margin-left: 0.3em;
    margin-bottom: 0.3em;
    border-radius: 5px;
    text-shadow:2px 3px 4px #2b665e;
}

.sub {
    background-color: var(--c3); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button.dinner {
    background-color: var(--c4);
    color: black;
    height: var(--dinnerHeight);
    width: 300px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 4px solid black;
}

button.eaten {
    background-color: var(--c3);
    color: black;
    height: var(--dinnerHeight);
    border: 4px solid black;
}

label.dinner_label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: FreeMono;
    font-weight: bold;
    color: black;
    height: var(--labelHeight);
    width: 140px;
    line-height: 40px;
    border: 2px solid black;
    border-radius:2px;
    box-shadow:inset 2px -2px 2px 2px #111111;
    font-size: 18px;
}

textarea.note{
    border: 2px solid black;
}

.select.date {
}

