<!DOCTYPE html>
<html lang="sv">
<head>
    {% load static %}
    <link rel='stylesheet' href="{% static '/main/css/base.css' %}">
    <script src="{% static '/main/js/base.js' %}"></script>
    <meta charset="UTF-8">
    <title>Create label</title>
</head>
<body>
    <script>
        create_header("{% static '/main/images/logo.png' %}", "Create label");
    </script>
    <div class="row">
        <form method="post">
            <div class=column id=layout_col>
                {% csrf_token %}
                <br>
                <h2>Layout</h2>
                <br>
                <script>
                    create_label_editor("layout_col", "{{ label_json|escapejs }}");
                </script>
           </div>
            <div class=column2>
                <br>
                <h2>Dinners</h2>
                <br>
                {% for meal in meals %}
                    <input type="checkbox" name="checked" value={{ meal.id }}>
                    <label class="dinner"> {{ meal.name }} </label>
                    <br>
                {% endfor %}
            </div>
        </form>
    </div>
</ol>
</body>
</html>

