<!DOCTYPE html>
<html lang="sv">
<head>
    {% load static %}
    <link rel='stylesheet' href="{% static '/main/css/base.css' %}">
    <script src="{% static '/main/js/base.js' %}"></script>
    <meta charset="UTF-8">
    <title>Create label</title>
    <script>
        function id_update_label_display(id) {
            el = document.getElementById(id);
            el.oninput = function() {
                update_label_display();
            }
        }

        function update_label_display() {
            sl_r = document.getElementById("label_red");
            sl_g = document.getElementById("label_green");
            sl_b = document.getElementById("label_blue");
            text = document.getElementById("label_text");

            display = document.getElementById("label_display");
            display.innerHTML = text.value;

            style = "background-color: rgb(" + sl_r.value + "," + sl_g.value + "," + sl_b.value + ")"
            display.setAttribute("style", style);
        }
    </script>
</head>
<body>
    <script>
        create_header("{% static '/main/images/logo.png' %}", "Create label");
    </script>
    <div class="row">
        <form action="{% url 'create_label' %}" method="post">
            <div class=column>
                {% csrf_token %}
                <br>
                <h2>Layout</h2>
                <br>
                <input type=text name=TEXT id=label_text action="javascript:update_label_display()">
                <br>
                <input type="range" name=RED min=0 max=255 value=100 class="colorslider red" id=label_red>
                <br>
                <input type="range" name=GREEN min=0 max=255 value=100 class="colorslider green" id=label_green>
                <br>
                <input type="range" name=BLUE min=0 max=255 value=100 class="colorslider blue" id=label_blue>
                <br>
                <label class="dinner_label" id=label_display>
                <script>
                    id_update_label_display("label_red");
                    id_update_label_display("label_green");
                    id_update_label_display("label_blue");
                    id_update_label_display("label_text");
                    update_label_display();
                </script>
            </div>
            <div class=column>
                <br>
                <h2>Dinners</h2>
                <br>
                {% for meal in meals %}
                    <input type="checkbox" name="checked" value={{ meal.id }}>
                    <label class="dinner"> {{ meal.name }} </label>
                    <br>
                {% endfor %}
            </div>
            <div class=column>
                <br>
                <h2>Create</h2>
                <br>
                <button type="submit" name="create_label" value="true" class="style1">
                    Create label
                </button>
            </div>
        </form>
    </div>
    <!--
    <form action="{% url 'create_label' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="range" min=0 max=255 value=100 class="colorslider red" id=sl_red>
        <input type="range" min=0 max=255 value=100 class="colorslider green" id=sl_green>
        <input type="range" min=0 max=255 value=100 class="colorslider blue" id=sl_blue>
    <br>
    {% for meal in meals %}
        <input type="checkbox" name="checked" value={{ meal.id }}>
        <label class="dinner"> {{ meal.name }} </label>
        <br>
    {% endfor %}
    <button type="submit" name="create_label" value="true">
        Create label
    </button>
    </form>
    </table>-->
</ol>
</body>
</html>

