<!DOCTYPE html>
<html lang="sv">
<head>
    {% load static %}
    <link rel='stylesheet' href="{% static '/main/css/base.css' %}">
    <script src="{% static '/main/js/base.js' %}"></script>
    <meta charset="UTF-8">
    <title>Create label</title>
</head>
<body>
    <script>
        create_header("{% static '/main/images/logo.png' %}");
        create_top_button("Overview", "/main/overview");
        create_top_button("Logout", "/logout");
    </script>
    <form action="{% url 'create_label' %}" method="post">
        {% csrf_token %}
        {{ form }}
    <br>
    {% for meal in meals %}
        <p>
        <span class="checkboxtext">
        <input type="checkbox" name="checked" value={{ meal.id }}> {{ meal.name }}
        <br>
        </span>
        </p>
    {% endfor %}
    <button type="submit" name="create_label" value="true">
        Create label
    </button>
    </form>

</body>
</html>

