<!DOCTYPE html>
<html lang="sv">
<head>
    {% load static %}
    <link rel='stylesheet' href="{% static '/main/css/base.css' %}">
    <script src="{% static '/main/js/base.js' %}"></script>
</head>

<body>
    <script>
        create_header("{% static '/main/images/logo.png' %}", '{{ meal.name }}');
    </script>
    <br>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="{% url 'detail' meal.id %}" method="post" id=date_picker>
        {% csrf_token %}
        <script>
            create_date_picker('date_picker')
        </script>
    </form>
        {% for label in meal.labels.all %}
            <label class="dinner_label" style="background-color: {{ label.get_color_string }};">{{ label.text }}</label>
        {% endfor%}<br>
    <div id="dinner_info" style="display:none">{{meal.info}}</div>
        <script>
            print_dinner_info();
        </script>
    <br>
    <form method="get">
        <button type="submit"
                class="style1"
                onclick='this.form.action="/main/edit_meal/{{ meal.id }}/";'>
                Edit dinner
        </button>
    </form>
</body>
</html>

