<!DOCTYPE html>
<html lang="sv">
<head>
    {% load static %}
    <link rel='stylesheet' href="{% static '/main/css/base.css' %}">
    <script src="{% static '/main/js/base.js' %}"></script>
</head>

<body>
    <script>
        create_header("{% static '/main/images/logo.png' %}", '{{ meal.name }}');
    </script>
    <br>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="{% url 'detail' meal.id %}" method="post" id=date_picker>
        {% csrf_token %}
        <script>
            create_date_picker('date_picker')
        </script>
    </form>
        {% for label in meal.labels.all %}
            <label class="dinner_label" style="background-color: {{ label.get_color_string }};">{{ label.text }}</label>
        {% endfor%}
    <form action="{% url 'detail' meal.id %}" method="post">
        {% csrf_token %}
        <br>
        <textarea class="note"
                  name="submit_note"
                  cols=50
                  rows=6
                  maxlength=300></textarea>
        <br>
        <input type="submit" value="Add note" class=style1>
    </form>

    {% if meal.notes %}
        {% for note in meal.notes.all %}
            <p> {{ note.created_at|date:'Y-m-d H:i' }} <br> {{ note.text }} </p>
        {% endfor %}
    {% endif %}
    <br>
    <form method="get">
        <button type="submit"
                class="style1"
                onclick='this.form.action="/main/edit_meal/{{ meal.id }}/";'>
                Edit dinner
        </button>
    </form>
</body>
</html>

