<!DOCTYPE html>
<html lang="sv">
<head>
<script type="text/javascript">
function get_action(is_new, id){
    if (is_new){
        return "{% url 'create_meal' %"
    } else {
        var str1 = "{% url 'edit_meal/"
        str1.concat(id, "' %")
        return "{% url 'edit_meal' %"
    }
}
</script>
<meta charset="UTF-8">


{% load static %}
<link rel='stylesheet' href="{% static '/main/css/base.css' %}">
<script src="{% static '/main/js/base.js' %}"></script>
<title>Edit meal</title>
</head>
<body>
    <script>
        is_new = '{{ new }}';
        if(is_new == "True"){
            create_header("{% static '/main/images/logo.png' %}", "Create dinner");
        } else {
            create_header("{% static '/main/images/logo.png' %}", "Edit dinner");
        }
    </script>
    <br>
    <div class="row">
        <form action="" onsubmit="this.action=get_action({{ new }}, {{ meal.id }})" method="post">
        {% csrf_token %}
            <div class="column">
                <p>{{ form.name.label }} {{ form.name }}</p>
                <button type="submit"
                        class="style1">
                    Submit
                </button>
            </div>
            <div class="column">
                <h2>Labels</h2>
                {% for label in form_labels %}
                    <p>
                    <span class="checkboxtext">
                        {{ label }} <label class="dinner_label" style="background-color: {{ label.label.get_color_string }};">{{ label.label.text }}</label>
                    <br>
                    </span>
                    </p>
                {% endfor %}
            </div>
        </form>
        <form action="/main/edit_meal/{{ meal.id }}/" method="post">
            {% csrf_token %}
                <div class="column">
                    <h2>Dates</h2>
                    {% for date in dates %}
                        <p>
                        <span class="checkboxtext">
                        <input type="checkbox" name="dates" value={{ date.id }}> {{ date.date|date:'Y-m-d' }}
                        <br>
                        </span>
                        </p>

                    {% endfor %}
                    <br>
                    <button class="style1"
                            type="submit"
                            name="delete_dates"
                            formaction="/main/edit_meal/{{ meal.id }}/">
                        Delete dates
                    </button>
                </div>
        </form>
    </div>
</body>
</html>
