<!DOCTYPE html>
<html lang="sv">
<head>
    {% load static %}
    <link rel='stylesheet' href="{% static '/main/css/base.css' %}">
    <script src="{% static '/main/js/base.js' %}"></script>
    <meta charset="UTF-8">
    <title>Create label</title>
</head>
<body>
    <script>
        create_header("{% static '/main/images/logo.png' %}", "Overview");
    </script>
<ol>
    <table>
{% for meal in meals %}
    <tr>
        <form action="/main/overview/" method="post">
            {% csrf_token %}
            <td><button type="submit"
                        formmethod="get"
                        formaction="/main/detail/{{ meal.id}}/"
                        class="dinner"
                        name="meal_details"
            >
                {{ meal.name }}
            </button></td>
            <td><button type="submit"
                        value={{ meal.id }}
                        formmethod="post"
                        formaction="/main/overview/"
                        class="eaten"
                        name="eaten_today">
                Ate today
            </button></td>
            <td width="300" align="center">
                {{ meal.latest_date|date:'Y-m-d' }} ({{ meal.dates.count }})
            </td>

        </form>
        <td>
            {% for label in meal.labels.all %}
                <label style="background-color: {{ label.get_color_string }};">{{ label.text }}</label>
            {% endfor%}
        </td>
    </tr>
{% endfor %}
    </table>
</ol>

</body>
</html>

