<!DOCTYPE html>
<html lang="sv">
<head>
    {% load static %}
    <link rel='stylesheet' href="{% static '/main/css/base.css' %}">
    <script src="{% static '/main/js/base.js' %}"></script>
    <script src="{% static '/main/js/overview.js' %}"></script>
    <meta charset="UTF-8">
    <title>Create label</title>
</head>
<body>
    <script>
        create_header("{% static '/main/images/logo.png' %}", "Overview");
    </script>
<ol>
    <h2>Labels</h2><br>
    <form action="/main/overview/" method="post">
        {% csrf_token %}
    {% for label in labels %}
        <button class="dinner_label"
                type="submit"
                style="margin: 2px; background-color: {{ label.get_color_string }};"
                formmethod="get"
                formaction="/main/edit_label/{{ label.id }}/">
                {{ label.text }}
        </button>
    {% endfor%}
    </form>
    <br><br><h2>Dinners</h2><br>
    <table>
    {% for meal in meals %}
    <tr>
        <form action="/main/overview/" method="post">
            {% csrf_token %}
            <div id="{{meal.id}}_info" style="display:none">{{meal.info}}</div>
            <td id="{{meal.id}}_button"><script>
                create_dinner_button("{{meal.name}}", "{{meal.id}}", "{{meal.id}}_info");
            </script></td>

            <td><button type="submit"
                        value={{ meal.id }}
                        formmethod="post"
                        formaction="/main/overview/"
                        class="eaten"
                        name="eaten_today">
                Ate today
            </button></td>
            <td align="center">
                {{ meal.latest_date|date:'Y-m-d' }} ({{ meal.dates.count }})
            </td>

        </form>
        <td>
            {% for label in meal.labels.all %}
                <label class="dinner_label" style="background-color: {{ label.get_color_string }};">{{ label.text }}</label>
            {% endfor%}
        </td>
    </tr>
{% endfor %}
    </table>
</ol>

</body>
</html>

