<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plan week</title>
    {% load static %}
    <link rel='stylesheet' href="{% static '/main/css/base.css' %}">
    <script src="{% static '/main/js/base.js' %}"></script>
    <script src="{% static '/main/js/plans.js' %}"></script>
</head>
<body>
    <script>
        create_header("{% static '/main/images/logo.png' %}", "Plan week");
    </script>
    <form action="{% url 'plan_week' %}" method="post">
        {% csrf_token %}
        <div id="week_display_id">
            <script>
                create_week_plan("week_display_id", "{{ dinners|escapejs }}", "{{ week|escapejs }}")
            </script>
        </div>
    </form>
</body>
</html>