<form action="/main/overview/" method="post">
    {% csrf_token %}
    <input type="submit" value="Skapa måltid" name="create_meal">
    <input type="submit" value="Logga ut" name="logout">
</form>

<ol>
    <table>
        <tr bgcolor="#EEAA00">
            <th>Namn</th>
            <th>Senast äten (antal ätna)</th>
        </tr>
{% for meal in meals %}
    <tr>
        <form action="/main/overview/" method="post">
            {% csrf_token %}
            <td><button type="submit"
                        style="height:30;width:200"
                        value={{ meal.id }}
                        formmethod="post"
                        formaction="/main/overview/"
                        class="btn btn-primary"
                        name="meal_details"
            >
                {{ meal.name }}
            </button></td>
            <td width="300" align="center">
                {{ meal.latest_date|date:'Y-m-d' }} ({{ meal.dates.count }})
            </td>
            <td><button type="submit"
                        style="height:30;width:200"
                        value={{ meal.id }}
                        formmethod="post"
                        formaction="/main/overview/"
                        class="btn btn-primary"
                        name="eaten_today">
                Åt idag
            </button></td>

        </form>
    </tr>
{% endfor %}
    </table>
</ol>
