<form action="/main/create">
    <button type="submit">Skapa måltid</button>
</form>
<form action="/logout">
    <button type="submit">Logga ut</button>
</form>
<ol>
    <table style="width:100%", border="3", bordercolor="#010101">
        <tr bgcolor="#EEAA00">
            <th></th>
            <th>Namn</th>
            <th>Senast äten (antal ätna)</th>
            <th>Länk</th>
        </tr>
{% for meal in meals %}
        <tr bgcolor="#EE00AA">
            <th>{{ forloop.counter }}</th>
            <th>{{ meal.name }}</th>
            <th>{{ meal.latest_date|date:'Y-m-d' }} ({{ meal.dates.count }})</th>
            <th><a href="{% url 'detail' meal.id %}"> Link </a></th>
        </tr>
{% endfor %}
    </table>
</ol>
