<!DOCTYPE html>
<html lang="sv">
<head>
    {% load static %}
    <link rel='stylesheet' href="{% static '/main/css/base.css' %}">
    <meta charset="UTF-8">
    <title>Create label</title>
</head>
<body>
<form method="get">
    <input type="submit" value="Create meal" name="create_meal" onclick='this.form.action="/main/create";'/>
    <input type="submit" value="Create label" name="create_label" onclick='this.form.action="/main/create_label";'/>
    <input type="submit" value="Logout" name="logout" onclick='this.form.action="/logout";'/>
</form>

<ol>
    <table>
        <tr bgcolor="#EEAA00">
            <th>Namn</th>
            <th>Senast äten (antal ätna)</th>
        </tr>
{% for meal in meals %}
    <tr>
        <form action="/main/overview/" method="post">
            {% csrf_token %}
            <td><button type="submit"
                        style="height:30;width:200"
                        formmethod="get"
                        formaction="/main/detail/{{ meal.id}}/"
                        class="btn btn-primary"
                        name="meal_details"
            >
                {{ meal.name }}
            </button></td>
            <td width="300" align="center">
                {{ meal.latest_date|date:'Y-m-d' }} ({{ meal.dates.count }})
            </td>
            <td><button type="submit"
                        style="height:30;width:200"
                        value={{ meal.id }}
                        formmethod="post"
                        formaction="/main/overview/"
                        class="btn btn-primary"
                        name="eaten_today">
                Åt idag
            </button></td>

        </form>
        <td>
            {% for label in meal.labels.all %}
                <label style="background-color: {{ label.get_color_string }};">{{ label.text }}</label>
            {% endfor%}
        </td>
    </tr>
{% endfor %}
    </table>
</ol>

</body>
</html>

